<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<title>Survey</title>
</head>
<body>
 
 <div class= "container">
 	<h2>Survey Questions</h2>
 	<hr>
 	<h3><strong>About you</strong></h3>
 	<hr>
 	<h4>Name</h4>
 	<input class= "form-control" type="text" id="name">
 	<hr>
 	<h4>Link to Image</h4>
 	<input class= "form-control" type="text" id="photo">
 

  <h5><strong>Question 1</strong></h5>
                <p> I'm more of Ghost Type Pokemon than a Fire Type Pokemon</p>
                <select data-placeholder="" class="browser-default" id="q1">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 2</strong></h5>
                <p>If I find myself in stranger's house I'll get the urge smash pottery in search of Rupees</p>
                <select data-placeholder="" class="browser-default" id="q2">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 3</strong></h5>
                <p>I like experimenting with mushrooms</p>
                <select data-placeholder="" class="browser-default" id="q3">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 4</strong></h5>
                <p>There are few problem's that can't be solved with jumping</p>
                <select data-placeholder="" class="browser-default" id="q4">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 5</strong></h5>
                <p>I'd prefer a nice compact ball to live in</p>
                <select data-placeholder="" class="browser-default" id="q5">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 6</strong></h5>
                <p>Advice from talking trees should always be followed</p>
                <select data-placeholder="" class="browser-default" id="q6">
                    <option value="">Choose an Option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 7</strong></h5>
                <p>I find firing missiles at parasitic floating jelly fish monsters relaxing</p>
                <select data-placeholder="" class="browser-default" id="q7">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 8</strong></h5>
                <p>There's no shame in being player 2</p>
                <select data-placeholder="" class="browser-default" id="q8">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 9</strong></h5>
                <p>I'd be cool with blowing up a whole inhabited planet</p>
                <select data-placeholder="" class="browser-default" id="q9">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 10</strong></h5>
                <p>I'b be happy for my brother if he was more famous than me</p>
                <select data-placeholder="" class="browser-default" id="q10">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                
 </div>
        

</body>
</html>