<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./assets/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">
   <title>Survey</title>
</head>
<body>
 
 <div class= "container">
 	<h2>Survey Questions</h2>
 	<hr>
 	<h3><strong>About you</strong></h3>
 	<hr>
 	<h4>Name</h4>
 	<input class= "form-control" type="text" id="name">
 	<hr>
 	<h4>Link to Image</h4>
 	<input class= "form-control" type="text" id="photo">
 

  <h5><strong>Question 1</strong></h5>
                <p>A ruler's authority should come from a divine source</p>
                <select data-placeholder="" class="browser-default" id="q1">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 2</strong></h5>
                <p>Sometimes you just have to march on Rome</p>
                <select data-placeholder="" class="browser-default" id="q2">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 3</strong></h5>
                <p>I'd rather have my army on horse back than on foot</p>
                <select data-placeholder="" class="browser-default" id="q3">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 4</strong></h5>
                <p>I prefer a republic to a monarchy</p>
                <select data-placeholder="" class="browser-default" id="q4">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 5</strong></h5>
                <p>Someday I'd like to retire to a villa and get drunk all day</p>
                <select data-placeholder="" class="browser-default" id="q5">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 6</strong></h5>
                <p>I'm already thinking about how big my tomb will be</p>
                <select data-placeholder="" class="browser-default" id="q6">
                    <option value="">Choose an Option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 7</strong></h5>
                <p>An empire can never be too big</p>
                <select data-placeholder="" class="browser-default" id="q7">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 8</strong></h5>
                <p>Even ruler's should be subject to the law</p>
                <select data-placeholder="" class="browser-default" id="q8">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 9</strong></h5>
                <p>Burning down cities is a great way to pass the time</p>
                <select data-placeholder="" class="browser-default" id="q9">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <h5><strong>Question 10</strong></h5>
                <p>Soldiers should only obey a commander that they respect</p>
                <select data-placeholder="" class="browser-default" id="q10">
                    <option value="">Choose an option</option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>

                <br>

                <button type="button" class="btn btn-secondary btn-lg" id= "submit">Submit Survey</button>
    <div id="resultsModal">
          <h2 id="matchName"></h2>
          <img id="matchImg" src="" alt="">
    </div> 
                
 </div>

 
        
<script type="text/javascript" >
    //Capture inputs

    $('#submit').on('click', function(){
        var nameInput = $('#name').val().trim();
        var photoInput = $('#photo').val().trim();
        if (nameInput === '' || photoInput === ''){
            alert('Please fill in name and add a link to a photo');
            return
        }

        else{

            var userData = {
                name: $("#name").val(),
                photo: $("#photo").val(),
                scores: [$("#q1").val(), $("#q2").val(), $("#q3").val(), $("#q4").val(), $("#q5").val(), $("#q6").val(), $("#q7").val(), $("#q8").val(), $("#q9").val(), $("#q10").val(), ]
            }

            var currentURL = window.location.origin;
            console.log(userData);
            console.log(currentURL);

            $.post(currentURL + "/api/friends", userData, function(data) {
        
            $("#matchName").text(data.name);
            $('#matchImg').attr("src", data.photo);
            console.log(data)
           // $("#resultsModal").show();
      });
            

        }

        

    });

    
    



    

</script>
</body>
</html>